.login{
    width :100%;
    height : 100vh ;
    background-image: linear-gradient(-90deg,rgba(9, 117, 185, 0.3),rgba(3, 35, 46, 0.3)),url('../../assets/Login.jpg');
    background-size:cover;
    display: flex; 
    justify-content: space-between;
}
.nav{
    background-color:#ffffff;
    
}
.logo h1{
    color:#ffffff;
    padding: 0rem 1rem;
}
.LoginBox{
    width:25%;
    height:70vh;
    background-image: linear-gradient(-90deg,rgba(105, 176, 220, 0.3),rgba(51, 100, 117, 0.3));
    top:25%;
    left:5%;
    position :absolute;
}
.LoginBox-content{
    transform: translate(0 1rem);
}
.LoginBox h2{
    align-items: center;
    text-align:center;
    color:#ffffff;
    padding :1rem 0rem;
}
h3{
    color:#ffffff;
    padding :0.5rem 1.5rem;
}
.Login-form{
    display: flex;
    background-color: #ffffffcc;
    color:#000;
    justify-content:space-between;
    align-items:center;
    border: 1px solid #ccc ;
    padding: 4px ; 
    border-radius: 8px;
    max-width: 400px;
    margin: 5px 1.5rem ;
}
.Login-form input {
    background-color : transparent;
    border:transparent;
    border:none ;
    width: 320px ;
    height:50px;
    font-size:1.2rem ;
    color:rgb(0, 0, 0);
    padding : 0rem 0rem;
    font-family: 'Poppins' sans-serif;
}
.Login-form input:focus{
    outline: none;
}
.SearchButtons button{
    width:91%;
    height : 7vh;
    left:0%;
    padding: 1rem 1rem;
    margin: 0.7rem 1rem;
    font-size: 15px

}
.Login-RegisterHere{
    display: flex;
    flex-direction: row;
}
.Login-NotReg {
    color:#eeeaea;
    padding :0rem 1.5rem;
    font-weight: 500;
}

.Login-RegisterHere a{
    color:rgb(10, 223, 88);
    
    margin: 0rem 0rem;
    padding: 0rem 0rem;
    transform: translate(-0.8rem, 0.1rem);

}
.Login-RegisterHere a:hover{
    transition: 0.5s;
    color:rgb(0, 255, 94);
    text-decoration: underline;
}
.Login-WrongData {
    display:flex;
    flex-direction: column;
    padding: 0.2rem 1.5rem;
    margin:0.5rem 0.5rem;
    color:red;
}
.Login-WrongData a{
    color:greenyellow;
}
.ResetPasswordLogin{
    position: absolute;
    background-color: transparent;
    color: white;
    top: 63.5%;
    left: 44%;
    font-size:100%;
   

}
.ResetPasswordLogin:hover{
    color:var(--primary-light);
    /* border-bottom:1px solid #1e2f45; */
    text-decoration: underline;
    cursor: pointer;
    transition: 0.7s;
}
.Login_C3{
    position: absolute;
    top:78px;
    left:891px;
}
.Login_C3:hover{
    transform:scale(1.2);
    transition: 1s;
    cursor: pointer;
}
.C3_Text{
    background-color: rgba(0, 43, 72, 0.5);
    position: absolute;
    top:15px;
    left:974px;
    color:rgb(255, 255, 255);
    font-weight: 400;
    font-size:25px;
}
.Login_C1{
    position: absolute;
    top:178px;
    left:551px;
}
.Login_C1:hover{
    transform:scale(1.2);
    transition: 1s;
    cursor: pointer;
}
.C1_Text{
    background-color: rgba(0, 43, 72, 0.5);
    position: absolute;
    top:130px;
    left:585px;
    color:rgb(255, 255, 255);
    font-weight: 400;
}
.Login_C2{
    position: absolute;
    top:148px;
    left:721px;
}
.Login_C2:hover{
    transform:scale(1.2);
    transition: 1s;
    cursor: pointer;
}
.C2_Text{
    background-color: rgba(0, 43, 72, 0.5);
    position: absolute;
    top:100px;
    left:740px;
    color:rgb(255, 255, 255);
    font-weight: 400;
}
.Login_C4{
    position: absolute;
    top:148px;
    left:1131px;
}
.Login_C4:hover{
    transform:scale(1.2);
    transition: 1s;
    cursor: pointer;
}
.C4_Text{
    background-color: rgba(0, 43, 72, 0.5);
    position: absolute;
    top:110px;
    left:1175px;
    color:rgb(255, 255, 255);
    font-weight: 400;
}
.Login_C5{
    position: absolute;
    top:175px;
    left:1295px;
}
.Login_C5:hover{
    transform:scale(1.2);
    transition: 1s;
    cursor: pointer;
    background-image:rgba(66, 198, 255, 0.2);
}
.C5_Text{
    background-color: rgba(0, 43, 72, 0.5);
    position: absolute;
    top:120px;
    left:1300px;
    color:rgb(255, 255, 255);
    font-weight: 400;
}