.editbtn{
    position: relative;
    height: 2.5vw;
    left:90%;
    top:-5vw;
}
.delbtn{
    position: relative;
    height: 2.5vw;
    left:93%;
    top:-5vw;

}
.EditSubDiv{
    display: flex;
  flex-direction: column;
  flex-grow: 1 1 0;
  justify-content: center;
  align-items: center;
  row-gap: 2vw;
  position:absolute;
  top:22vw;
  left:70vw;
}