.CourseItems_Syllabus_Subtitles_1{
  display: block;
  /* flex-direction: row;
  display: flex;
  column-gap: 6vw;
  flex-grow: 1 1 0;
  justify-content: start; */
}
.CourseItems_Syllabus_Subtitles_Content {
    height: 15vh;
    border-bottom: 2px solid rgb(206, 206, 206);
    width: 115vh;
    position: relative;
    display: flex;
    flex-direction: row;
}
.CourseItems_Syllabus_Subtitles_Content h2{
  color:var(--primary-light)
}

.CourseItems_Syllabus_Subtitles_Content_Details h2{
  color:var(--primary-light)
}
.CourseItems_Syllabus_Subtitles_Content:hover{
    background-color:rgb(232, 232, 232);
    cursor: pointer;
}
.CourseItems_Syllabus_Subtitles_Content_Details{
    height: 60vh;
    border-bottom: 2px solid rgb(206, 206, 206);
    width: 115vh;
    position: relative;
    display: flex;
    flex-direction: row;

    
}

  
  .CourseItems_Syllabus_ArrowDown {
    color:var(--primary-light);
    margin:1rem;
    position:absolute;
    top:5vh;
    left:90%;
    transition: 0.5s;

  }
  .CourseItems_Syllabus_ArrowDown:Hover{
    cursor: pointer;
  }
  .CourseItems_Syllabus_ArrowUp{
    transform: rotate(180deg);
    color:var(--primary-light);
    margin:1rem;
    position:absolute;
    top:5vh;
    left:90%;
    transition: 0.7s;
  }
  .CourseItems_Syllabus_ArrowUp:Hover{
    cursor: pointer;
  }

  .CourseItems_Syllabus_Subtitles_Details_Shown{
    display:flex;
    flex-direction: column;
    width: 80%;
    text-align:left;
    padding: 0;
    transform: translate(2vh,15vh);
    
  }
  .CourseItems_Syllabus_Subtitles_Details_Shown h4{
    font-weight: 400;
  }
  .CourseItems_Syllabus_Subtitles_details_hidden{
    position:absolute;
    top:-10000vh;

  }
  .CourseItems_Syllabus_Subtitles_Details_Data{
    position:absolute;
    width: 100%;
    height: 50vh;
    top:10vh;

  }
  .CourseItems_OpenItem{
      font-size: 17.5px;
    }

  .CourseItems_OpenItem:hover{
    text-decoration: underline;
  }
  .CourseItems_OpenItem2:hover{
    text-decoration: underline;
  }
  .DivHover{
    cursor: pointer;
    border-radius: 10px;
    padding: 0rem 1rem;
    justify-content:space-between ;
    align-items:center;
    align-content:center;
    text-align: left;
    /* flex: auto; */

}
  .DivHover:hover{
    background: rgb(220,220,220);
  }
  .CourseItems_DivForContinue_WorkSub{
    position:absolute;
    top:20vh;
    left:31vh;
}

.btnAddSub{
  position:absolute;
  top:441px;
  left:900px;
}
.newSubDiv{
  display: flex;
  flex-direction: column;
  flex-grow: 1 1 0;
  justify-content: center;
  align-items: center;
  row-gap: 2vw;
  position:absolute;
  top:441px;
  left:900px;
}
.textSub1-Subtitle{
  background-color: white;
}