.CourseContent{
    width: 100%;
    height: 100%; 
    align-items: center;
}
.CourseContent_Content{ 
    margin: 1rem 1rem;
    padding: 1rem 1rem;
}
.CourseContent_Video{
    width: 100%;
    height: 95vh;
    position: relative;
    top:60px;
}
.CourseContent_overlay{
    background-color: rgba(0, 18, 28, 0.401);
    position: absolute;
    width: 100%;
    height: 94%;
    top: 0;
    left: 0;
    margin: 0px 0px ;

}

.CourseContent_button_Enroll{
    background-color: rgba(0,0,0,0);
    /* background-image:  linear-gradient(90deg, rgb(0, 187, 255) -100%, rgba(174, 0, 255, 0.1)40% ); */
    border-radius: 40px;
    height:4vw;
    width:15vw;
    transform: translateY(2rem);
    border-color: rgb(120, 120, 120);
    border: solid 3px;
    z-index: 1;
    
    font-size: 20px;
}
.CourseContent_button_Enroll:hover{
    transition: 1s;
    transition-delay: 50ms;
    background-color: rgba(0,0,0,0);

    background-image:  linear-gradient(90deg, rgb(0, 187, 255) -80%, rgba(174, 0, 255, 0.1)40% );

    transform: scale(1.4)translateY(1.5rem);
    
}

  .CourseContent_button_Enroll::before {
    position: absolute;
    background-image:  linear-gradient(90deg, rgb(0, 187, 255) -100%, rgba(174, 0, 255, 0.1)0% );
    z-index: -1;

    transition: opacity 0.5s ease;
    opacity: 0;
  }
  .CourseContent_button_Enroll:hover::before {
    opacity: 1;
  }

  .CourseContent_button_Play{
    position: absolute;
    top: 100px;
    left:47.9%;
    color: #fff;
    z-index: 1;
    width: 50px;
    height:50px;    
  }

  .CourseContent_Video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }

  .CourseContent_Video iframe {
    position: absolute;
    top: 0;
    left: 0%;
    width:100%;
    height: 100%;
  }
.CourseContent_Counter{
  transform:translate(35rem,-1rem)
}
.CourseContent_DiscountLabel2{
  position: absolute;
  width:115px;
  top:80px;
  left:76.5%;
  /* transform: rotate(180deg); */
  z-index: 1;
}


.CourseContent_NewCourse_Prices{
  left:30vw;
  top:90px;
  position: absolute;
  width: 60vh;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
     
}
  .CourseContent_NewCourse_price{
      font-weight:250;
      font-size: 20px;
    
      text-decoration: line-through;
      color:rgb(177, 177, 177);
      transform: translate(1rem,0rem);
  } 
  .CourseContent_NewCourse_price h2{
    color:rgb(177, 177, 177);
  }

  .CourseContent_NewCourse_priceNoDis{
      font-weight:450;
      font-size: 20px;
  
      transform: translate(1rem,0.2rem);
  } 
  .CourseContent_NewCourse_priceNew{
      font-weight:450;
      font-size: 22px;
      transform:translate(2rem , 0rem)

  }
  .CourseContent_NewCourse_price2{
      font-weight:700;
      font-size: 20px;
      color:rgb(255, 0, 0);
      transform: translate(35rem,-3rem);
      z-index:1;
  }
.SecondPart_RightSide_Content{
  width: 35%;
  padding-top:0.5rem ;
  position: relative;
}
.vlHor {
  border-bottom: 2px solid rgb(206, 206, 206);
  width: 70vh;
  margin-left: 0vh;
  z-index:2;
  transform: translateX(-4vh);
  margin-bottom: 2rem;
}
  .vlVertical
{
    
        border-left: 2px solid rgb(206, 206, 206);
        width: 10vh;
        z-index:0;
      
}


.PaymentsOptionsDiv{
  position: fixed;
  width: 400px;
  height:340px;
  top: 25%;
  left: 35%;
  border: transparent;
  background-color: rgb(255, 255, 255);
   border-bottom-left-radius: 20px;
   border-top-right-radius: 20px;
   border-top-left-radius: 20px;
   border-bottom-right-radius: 20px;
   z-index: 3;
   /* transition-property: all;
   transition-duration: 1000ms;
    transform: rotate(90deg);  */
}

.PaymentsOptionsDivShadow{
    width: 100%;
    height: 100%;
    background: transparent; 
    display: flex;
    flex-direction: column;
  position:fixed;
  z-index: 3;
}
.PaymentsOptionsDivShadow::before{
  /* background-image: url("../../assets/PaypalIcon.png"); */
  position: fixed;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0,0, 0.5);
}
.paymentsOptionList{
  position: relative;
  top: 2%;
  left: 2%;

}
.MycardsToPay{
  position: fixed;
  width: 400px;
  height:auto;
  min-height: 440px;
  top: 25%;
  left: 35%;
  border: transparent;
  background-color: rgb(255, 255, 255);
   border-bottom-left-radius: 20px;
   border-top-right-radius: 20px;
   border-top-left-radius: 20px;
   border-bottom-right-radius: 20px;
   z-index: 3;
}
.paymentsOptionCancel{
  background-color: red;
  position: relative;
  top: 40%;
  left: 70%;
}
.paymentsOptionCancel:hover{
  background-color: rgb(233, 107, 107);
}
.MyCardsSmallDivToPay{
  position: relative;
  top: -2%;
}
.PayButton{
  position: absolute;
  top: 80%;
  left: 70%;
  width: 100px;
}
.AddCourse_Overlay2{
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    top:0;
    height:0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}
.youSuccessfully_Inst{
  position: fixed;
  top:20%;
  left:15%;
  background-color:rgba(158, 158, 158, 0.8);
  height: 50%;
  width:70%;
  z-index:2;
  align-items: center;
  justify-content: center;
  align-self: center;
  align-content: center;
  text-align: center;
  display:flex;
  flex-direction: column;
}