.CourseVideo{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CourseVideo h1{    font-size:20px;
    color:rgb(130, 130, 130)
}

.CourseVideo_Directory h2{ 
    font-size:20px;
    color:rgb(130, 130, 130)
}
.CourseVideo h1:hover{
    cursor: pointer;
    color:var(--primary-light);
    text-decoration: underline;
}
.CourseVideo_Video_Notes{
    width:90%;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;

}
.CourseVideo_Video{
    width: 70%;
    height: 60vh;
    border-radius: 10px;
    margin-left: 3rem;
    margin-right: 1rem;
}
.CourseVideo_Input{
    width:30%;
    margin-right: 3rem;
    border-radius: 10px;
    background-image: url('../../assets/notesVideo.jpg');
    padding-top: 3.2rem;
    padding-left: 4rem;
    line-height: 1.1rem;
}
.CourseVideo_Notes_text{
    position: absolute;
    left:79.5%;
}
.PlusButton{
    position: absolute;
    top:23%;
    left:91.5%;
    background-color: transparent;
    color:black;
}
.PlusButton:hover{
    background-color: transparent;

}
.CourseVideo_DownloadNotes{
    width:15%;
    position: absolute;
    top:85%;
    left:75%;
    
}
.noteAddedSuccess{
    position: absolute;
    top:18%;
    left:75%;
    color:rgb(36, 196, 36);

}