

.heading{
   color :rgb(10, 138, 218);
   margin: 2rem 2rem ;
}

.newCourse{
    margin:2rem 2rem;
    padding:1rem 2rem;
    width :900px ;
    height: 150px ;
    color:aliceblue;
    /* background-color:linear-gradient(90deg, rgba(10, 138, 222, 1) 0%, rgba(216, 149, 255, 1) 100%); */
    /* background-color:rgb(10, 138, 218); */
    background: linear-gradient(90deg, rgba(10,138,218,1) 0%, rgb(182, 109, 250) 100%);

    display: flex; 
    justify-content: space-between;
    border-radius : 20px ;
    
}

.price{
    font-weight:300;
    font-size: 25px;
}