.heading{
   color :rgb(0, 157, 255);
   margin: 2rem 2rem ;
}

.newCourse{
    margin:2rem 2rem;
    padding:1rem 2rem;
    width :900px ;
    height: 150px ;
    color:aliceblue;
    background-color:rgb(0, 157, 255);
    display: flex; 
    justify-content: space-between;
    
}

.price{
    font-weight:300;
    font-size: 25px;
}