.CourseItems{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
}
.CourseItems_Video{
    width: 100%;
    height: 50%;
    margin-bottom: 4rem;

}
.CourseItems_overlay{
    background-image: linear-gradient(90deg,rgba(11, 74, 96, 0.9),rgba(3, 35, 46, 0.9));
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    margin: 0px 0px ;

}
.CoureItems_OnVideo{
    position: absolute;
    top:15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CoureItems_OnVideo h1{
    
    color:rgb(255, 255, 255);

    font-size: 45px;
}
.CoureItems_OnVideo h2{
    color:var(--primary-light);
    font-weight : 600;
    position: relative;
    top:15%;
}
.CourseItems_InstNames{
    display: flex;
    flex-direction: column;
    position: absolute;
    left:10vh;
    width:80vh;
    
    /* background:#fff; */
}
.CourseItems_InstNames a:hover{
    cursor: pointer;
}


.CourseItems_ProgressBar{
    width: 100%;
    height: 50%;
    padding: 2rem 2rem;
    display:flex;
    flex-direction: column;
    /* background-color: rgb(196, 196, 196,0.5); */
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
    margin-bottom: 4rem;

}
.CourseItems_ProgressBar h2{
    z-index: 1;
    font-size: 40px;
    color:var(--primary-light)
}

    .CourseItems_Progress{
        /* position: absolute; */
        width:100%;
        display:flex;
        flex-direction: row;
        align-self: center;
        align-items:center;
        justify-content: center;
        z-index: 1;

    }
    
    .progress {
        background-color: #d8d8d8;
        border-radius: 20px;
        height: 30px;
        width: 900px;
        /* transform: translate(0px ,50px); */
    }

    .progress-done {
        background-image: linear-gradient(45deg, #ffc107 25%, #ffca2c 25%, #ffca2c 50%, #ffc107 50%, #ffc107 75%, #ffca2c 75%, #ffca2c 100%);
        background-size: 20px 20px;
        -webkit-animation: progress-done 62s ease infinite;
        -moz-animation: progress-done 62s ease infinite;
        animation: progress-done 62s ease infinite;
        
        border-radius: 20px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 0;
        opacity: 0;
        transition: 1s ease 0.3s;
    }

    @-webkit-keyframes progress-done {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
    }
    @-moz-keyframes progress-done {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
    }
    @keyframes progress-done {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
    }

.CourseItems_SecondPart{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    /* background:#ffc107; */
    padding:0rem 2rem;
    margin-bottom: 4rem;
}

.CourseItems_SecondPart_views{
    width:60%;
    padding:1rem;
}
    .CourseItems_SecondPart_View_OverView{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: left;

    }
    .CourseItems_SecondPart_View_OverView h4{
            font-weight: 400;
    }
    .CourseItems_SecondPart_View_OverView_video{
        margin-top: 2rem;
        width: 100%;
        height:50vh;
        border-radius: 10px;
    }

.CourseItems_SecondPart_Continues{
    width:40%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding:1rem 1rem;
    text-align: center;
    margin-left: 2rem;
    background-color:rgba(200,200,200,0.2);
    border-radius: 10px;
    min-height: 80vh;
}
    .CourseItems_DivForContinue{
        transform:scale(0.58)translate(-50vh,-30vh) ;
        }
        .CourseItems_DivForContinue_WorkSub{
            position:absolute;
            top:0vh;
            left:0vh;
        }
.CourseItems_DivForContinue_WorkSub{
    transform: translate(0vh,10vh);
}

.CourseItems_SecondPart_View_Buttons button{
    background-color: transparent ;
    border-radius: 0px;
    width:20vh;
    font-size: 20px;
    color:var(--primary-light)
}

.CourseItems_SecondPart_View_Buttons button:hover{
    background-color: rgba(229, 229, 229, 0.5) ;
    transition:0s;
    border-bottom:  4px solid rgba(200,200,200,1);

}
.CourseItems_SecondPart_View_Buttons button:focus{
    background-color: rgba(200,200,200,0.5) ;
    border-bottom:  4px solid var(--primary-light);
        width:20vh;
        font-weight: bold;
}
.CourseItems_SecondPart_View_Buttons button:default{
    background-color: rgba(200,200,200,0.5) ;
    border-bottom:  4px solid var(--primary-light);
        width:20vh;
        font-weight: bold;
}

.vl33 {
    border-bottom: 2px solid rgb(206, 206, 206);
    width: 110vh;
    margin-left: 4vh;
    z-index:2;
    transform: translateX(-4vh);
    margin-bottom: 2rem;
  }


  .Course_Gift{
    position:absolute;
    left:0px;
    top:0px;
}

.Course_GiftTop{
    z-index: 2;
    position: absolute;
    top:0px;
    left : 0px;
    transition: 2.3s;

}
.Course_GiftTop2{
    transform: rotate(400deg)translate(200px,0px);
    position: absolute;
    transition: 2.3s;

}
.Course_giftText{
    position:absolute;
    top:40px;
    left : 50px;
    z-index: 0;
    transition: 2.3s;


}
.Course_giftText h4{
    color:#2e2e2e;
    font-weight: 500;

}

.Course_Gift_Redeem{
    background-image: linear-gradient(45deg, #ffc107 25%, #ffca2c 25%, #ffca2c 50%, #ffc107 50%, #ffc107 75%, #ffca2c 75%, #ffca2c 100%);
    background-size: 20px 20px;
    -webkit-animation: Course_Gift_Redeem 62s ease infinite;
    -moz-animation: Course_Gift_Redeem 62s ease infinite;
    animation: Course_Gift_Redeem 62s ease infinite;
    height: 100%;
	transition: 1s ease 0.3s;
}




@-webkit-keyframes Course_Gift_Redeem {
0%{background-position:0% 51%}
50%{background-position:100% 50%}
100%{background-position:0% 51%}
}
@-moz-keyframes Course_Gift_Redeem {
0%{background-position:0% 51%}
50%{background-position:100% 50%}
100%{background-position:0% 51%}
}
@keyframes Course_Gift_Redeem {
0%{background-position:0% 51%}
50%{background-position:100% 50%}
100%{background-position:0% 51%}
}