.Hegza__whatHegza {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 2rem;
  background: #031B34;

  /* ff 3.6+ */
  background:-moz-radial-gradient(circle at 30% -100%,rgba(9, 117, 185, 0.9) 25%,rgba(3, 35, 46, 0.9) 85%, rgba(5, 50, 65, 0.9) 100%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 30% -100%,rgba(9, 117, 185, 0.9) 25%,rgba(3, 35, 46, 0.9) 85%, rgba(5, 50, 65, 0.9) 100%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 30% -100%,rgba(9, 117, 185, 0.9) 25%,rgba(3, 35, 46, 0.9) 85%, rgba(5, 50, 65, 0.9) 100%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 30% -100%,rgba(9, 117, 185, 0.9) 25%,rgba(3, 35, 46, 0.9) 85%, rgba(5, 50, 65, 0.9) 100%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 30% -100%,rgba(9, 117, 185, 0.9) 25%,rgba(3, 35, 46, 0.9) 85%, rgba(5, 50, 65, 0.9) 100%);
/* linear-gradient(-90deg,rgba(9, 117, 185, 0.9),rgba(3, 35, 46, 0.9)) */
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width :93%;
}

.Hegza__whatHegza-feature{
  display: flex ;
}

.Hegza__whatHegza-feature .Hegza__features-container__feature{
  margin: 0   ; 

}
.Hegza__whatHegza-feature .Hegza__features-container_feature-text{
  max-width: 700px;
  
}

.Hegza__whatHegza-heading {
  display: flex; 
  flex-direction: row;
  justify-content : space-between;
  align-items : center ;
  
  margin : 4rem 0 2rem ;
}

.Hegza__whatHegza-heading h1 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  font-family: var(--font-family);
  max-width: 510px;  
}

.Hegza__whatHegza-heading p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--color-subtext);
  cursor: pointer;
} 

.Hegza__whatHegza-container{
  display: flex ;
  flex-wrap: wrap;
  flex-direction:row;

  margin-top: 2rem ;
}
/* Customizing feature component as per needs */
.Hegza__whatHegza-container .Hegza__features-container__feature {
  flex: 1;
  margin: 1rem;
  min-width: 210px;
  display: unset;
  flex-direction: column;
}

/* Customizing feature component as per needs */
.Hegza__whatHegza-container .Hegza__features-container_feature-text {
  margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
  .Hegza__whatHegza-heading {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0rem;
  }

  .Hegza__whatHegza-heading p {
      margin-top: 1rem;
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* scroll-behavior: smooth; */
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {
  background: rgb(217, 237, 255);
 
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 6rem 3rem;
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    margin: 4rem 2rem;
  }  
}
@media screen and (max-width: 650px) {
  /* Customizing feature component as per needs */
  .Hegza__whatHegza-feature .Hegza__features-container__feature {
      flex-direction: column;
  }

  /* Customizing feature component as per needs */
  .Hegza__whatHegza-feature .Hegza__features-container_feature-text {
      margin-top: 0.5rem;
  }

  .Hegza__whatHegza-heading h1 {
      font-size: 28px;
      line-height: 40px;
  }
}

@media screen and (max-width: 350px) {
  /* Customizing feature component as per needs */
  .Hegza__whatHegza-container .Hegza__features-container__feature {
      margin: 1rem 0;
      min-width: 100%;
  }
}
