.navbar{
    width: 100%;
    height: 60px; 
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding : 0 1rem;
    z-index: 2;
    position: fixed;
    top:0px;
    color: #fff;
    background:radial-gradient(circle at 30% -100%,rgba(9, 117, 185, 0.95) 25%,rgba(3, 35, 46, 0.95) 85%, rgba(5, 50, 65, 0.95) 100%);
    box-shadow:0px 6px 10px rgb(0,0,0,0.3);
    
    
}
.nav-icons{
    display: flex;
    flex-direction: row;
}
.navbar-bg{
    background-color:#f5f5f5;
}
a{
    color:white;
}

.logo h2:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.nav-menu{
    display: flex;
}
li {
    padding : 0 2rem;
    font-size:large;
    cursor: pointer;
}
.hamburger{
    display: none; 
    /*padding 1rem; */

}
.mobile-menu{
    display: none;
}
.icon {
    font-size: 1.5rem;
    cursor: pointer;
    /* margin-left: 1rem;     */
}
.SearchDiv{
    /* display:block;  */
    position: absolute;
    width:100%;
    height:50vh;
    display: flex;
    flex-direction: column; 
    background-color:rgb(3, 35, 46);
    top:60px;
    left:0;
    align-items: center;
    transition: 0.5s
    
}
.SearchDiv-content{
   align-items: center;
}
.SearchDiv-content h1{
    padding: 1rem 0rem;
 }
.searchBarForm form{
    display: flex;
    background-color: #ffffffcc;
    color:#000;
    justify-content:space-between;
    align-items:center;
    border: 1px solid #ccc ;
    border-radius: 8px;
    margin: 0rem 14rem;
    max-width: 1500px;
}
.form2 input[type=text] {
    background-color: transparent;
    border:transparent;
    border:none ;
    width: 700px ;
    height:50px;
    font-size:1.2rem ;
    font-family: 'Poppins' sans-serif;
}
.form2 input[type=text]:focus{
    outline: none;
}
.nonSearchDiv{
    position:absolute;
    top:-50vh;
    width:100%;

}
.CountryBar{
    /* display:block;  */
    position: absolute;
    width:3%;
    height:30vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    background-color:rgb(255, 255, 255);
    top:10px;
    left:88.1%;
    transition: 0.5s;
    z-index:-2;
    padding: 3.2rem 0rem;
}
.nonCountryBar{
    position:absolute;
    height:0vh;
    width:3%;

}
.nonCountryBar img{
    position:absolute;
    height:0vh;
    width:0;
    display: none;
}
.CountryBar-content img{
    /* display:block;  */
    display: flex;
    flex-direction: column; 
    margin: 0.5rem .5rem;
}
.CountryBar-content img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.searchBarForm{
    position:absolute;
    top:30%;
    left:10%;
}

.Filters{
    display: flex;
    flex-direction: row;
    background-color:white;
    width:500px;
    height :100px;
    top:60%;
    position:absolute;
    /* transition: 0.5s; */
}
.NoFilters{
    position:absolute;
    top:-200vh;
    
}
.form{
    display: flex;
    background-color: #ffffffcc;
    color:#000;
    justify-content:space-between;
    align-items:center;
    border: 1px solid #ccc ;
    padding: 4px ; 
    border-radius: 8px;
    max-width: 1500px;
    margin: 0 auto ;
}

.form input[type=text] {
    background-color: transparent;
    border:transparent;
    border:none ;
    width: 1500px ;
    height:50px;
    font-size:1.2rem ;
    font-family: 'Poppins' sans-serif;
}
.form input[type=text]:focus{
    outline: none;
}
Country{
    color: black;
    background-color:blue;
}
@media screen and (max-width: 940px){
    .mobile-menu{
        display: flex;
        flex-direction: column;
        width:100%;
        top:-100vh;
        left: 0;
        position: absolute;
        justify-content: space-between;
        /* color: rgba(255,255,255,.95); */
        background-color: #f5f5f5;
        transition: 0.3s;
        color:#000;
        
    }
    .dark{
        color:#000;
    }

    .active{
        top:60px ; 
    }
    .mobile-menu li{
        padding: 1.2rem 1rem;
        margin : 0 1rem ;
        border-bottom: 1px solid #ccc;

    }
    .mobile-nav{
        margin : 1rem 0 ; 
    }
    .mobile-menu-bottom {
        width: 100%;
        text-align: center;
        padding: 1rem 0;
    }
    .social-icons{
        display: flex;
        justify-content: space-around;
        margin: 2rem 0 ;
    }
    .social-icons .icon:hover{
        transform: scale(1.5);
        transition: 0.3s;
    }
    .mobile-menu button{
        margin: 1rem;
        width: 90%;
    }
    .nav-menu{
        display: none;
    }
    .nav-icons{
        display: none;
    }
    .hamburger{
        display:block; 
    }
    .SearchDiv{
        /* display:block;  */
        position: absolute;
        width:100%;
        height:50vh;
        display: flex;
        flex-direction: column; 
        background-color:rgb(5, 28, 42);
        top:60px;
        left:0;
        transition: 0.5s
    }
    .nonSearchDiv{
        position:absolute;
        top:-200vh;
        width:100%;
    
    }
}
