.AddCours{
     /* display: flex;
    width: 100%;
    height: 100vh;
     background-image: url('../../assets/AddCourseBack.jpeg') ;  
    background-size: cover;  */
    background-image: url('../../assets/AddCourseBack.jpg ') ; 
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex ;
    /* justify-content: center; */
    align-items: center;

}
.Boxes{ 
    position: relative;
    width: 1000px;
    height: 500px;
    overflow-y: scroll;
    background: transparent;
    border: 1px solid #fff;
    border-top-left-radius: 20px ;
    border-bottom-right-radius: 20px;
    
    top: 10%;
    left: 20%;
    display: flex;
    flex-direction: column;
}
.Boxes:before{ 
    position: fixed;
    content: '';
    width: 980px;
    height: 500px;
    background: rgba(0, 0,0, 0.5);
    border-top-left-radius: 20px ;
    border-bottom-right-radius: 20px;
}
  .text1-AddCourse{
    position: relative;
    top:6%;
    left:22%;
    width: 50%;
    height: 1
    0%;
    border-top-left-radius: 20px;
    border-bottom-right-radius:20px ; 
    background-color: #ffffffcc; 
    border:transparent;
    font-size:1.2rem ;
    color:#fff;
    text-decoration-color: #fff;
    padding : 0rem 0rem;
    font-family: 'Poppins' sans-serif;

} 
.text2-AddCourse{
    position: relative;
    top:13%;
    left:22%;
    width: 50%;
    border-top-left-radius: 20px;
    border-bottom-right-radius:20px ;
    background-color: #ffffffcc;
    border-color: transparent;
    font-size:1.2rem ;
    color:#fff;
    padding : 0rem 0rem;
    font-family: 'Poppins' sans-serif;
}
.text3-AddCourse{
    position: relative;
    top:0%;
    left:22%;
    width: 50%;
    border-top-left-radius: 20px;
    border-bottom-right-radius:20px ;
    background-color: #ffffffcc;
    border:transparent;
    font-size:1.2rem ;
    color:#fff;

    font-family: 'Poppins' sans-serif;
}
.text33-AddCourse{
    position: relative;
    top:0%;
    left:22%;
    width: 50%;
    border-top-left-radius: 20px;
    border-bottom-right-radius:20px ;
    background-color: #ffffffcc;
    border:transparent;
    font-size:1.2rem ;
    color:#fff;

    font-family: 'Poppins' sans-serif;
}
.text4-AddCourse{
    position: relative;
    top:20%;
    left:22%;
    width: 35%;
    border-color: transparent;
    border-top-left-radius: 20px;
    border-bottom-right-radius:20px ;
    background-color: #ffffffcc;
    border:transparent;
    font-size:1.2rem ;
    color:#fff;
    padding : 0rem 0rem;
    font-family: 'Poppins' sans-serif;

}
.text5-AddCourse{
    position: relative;
    top: 9%;
    left: 62%;
    width: 10%;
    border-color: transparent;
    border-top-left-radius: 20px;
    border-bottom-right-radius:20px ;
    background-color: #ffffffcc;
    border:transparent;
    font-size:1.2rem ;
    color:#fff;
    padding : 0rem 0rem;
    font-family: 'Poppins' sans-serif;
}
.add_textField{
    position: absolute;
    top: 37%;
    left: 72%;
    width:8%;
    height :10%;
    margin: 2rem 1rem;
    font-weight: bolder;
    font-size: 20px;
}
.Submit-button{
    position: fixed;
    top: 80%;
    left: 71%;
    width:15%;
    height :7%;
    /* padding: 1rem 1rem; */
    margin: 2rem 1rem;
    font-weight: bolder;
    font-size: 20px;

}
.Add-Course-Label{
    position: absolute;
    top: 19%;
    left: 22%;
    color: #fff;
}



.subtitledivadd{
    display: flex;
    flex-direction: row;
    flex-grow: 1 1 0;
    column-gap: 20%;
    row-gap: 5%;
}
.addedHours{
    left:7%;
    top:17%;
    width: 10%;
    border-color: transparent;
    border-top-left-radius: 20px;
    border-bottom-right-radius:20px ;
    background-color: #ffffffcc;
    border:transparent;
    font-size:1.2rem ;
    color:#fff;
    font-family: 'Poppins' sans-serif;
}
.bigAddSub{
    display: flex;
    flex-direction: column;
    row-gap: 1.5vw;
}
.AddCourse_Contract{
    width: 90vh;
    height:80%;
    position: absolute;
    top:90px;
    left:60vh;
    border-radius: 10px;
    background-color: aliceblue;
    z-index: 1;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    overflow-y: scroll;
    align-items: center;
    text-align: left;
    padding: 1.5rem;
}
.AddCourse_Contract h1{
    font-size:1.8rem;
    color:var(--primary-light);
    
}
.AddCourse_Contract li{
    padding-bottom: 2rem;
    
}
.AddCourse_Contract p li{
    font-size:1rem
}
.AddCourse_Contract h4{
    font-weight: 400;
    transform: translate(0px,8px);
}
.AddCourse_Contract_Check {
    display: flex;
    flex-direction: row;
    transform: translate(-100px,0);
}
.AddCourse_Overlay{
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    top:0;
    height:0;
    width: 100%;
    height: 100vh;
    z-index: 0;
}
.AddCourse_Contract_ConfirmButton{
    transform: translate(140px,0px);
}
.disabledButton{
    transform: translate(140px,0px);
    background-color:grey;
    cursor:default;
}
.disabledButton:hover{
    background-color: grey;
}
.AddCourse_CloseButton{
    width: 30px;
    height: 30px;
    color:black;
    background-color: transparent;
    transform:translate(280px,0)

}
.btnLeft{
    position: relative;
    top:8%;
    left: 20%;
}
.btnRight{
    position: relative;
    top:8%;
    left: 90%;
}
.add_textField2{
    position: absolute;
    top: 0%;
    left: 72%;
    width:8%;
    height :10%;
    margin: 2rem 1rem;
    font-weight: bolder;
    font-size: 20px;
}
.subjectdivadd{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    flex-grow: 1 1 0;
    justify-content: start;
    width: 100%;
}
.bigAddSubject{
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
    flex-grow: 1 1 0;
}