.AddCours{
     /* display: flex;
    width: 100%;
    height: 100vh;
     background-image: url('../../assets/AddCourseBack.jpeg') ;  
    background-size: cover;  */
    background-image: url('../../assets/AddCourseBack.jpg ') ; 
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex ;
    /* justify-content: center; */
    align-items: center;

}
.Boxes{ 
    position: relative;
    width: 1000px;
    height: 500px;
    background: transparent;
    border: 1px solid #fff;
    border-top-left-radius: 20px ;
    border-bottom-right-radius: 20px;
    top: 10%;
    left: 20%;
    display: flex;
    flex-direction: column;
}
.Boxes:before{ 
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0,0, 0.5);
    border-top-left-radius: 20px ;
    border-bottom-right-radius: 20px;
}
  .text1-AddCourse{
    position: relative;
    top:10%;
    left:22%;
    width: 50%;
    border-top-left-radius: 20px;
    border-bottom-right-radius:20px ; 
    background-color: #ffffffcc; 
    border:transparent;
    font-size:1.2rem ;
    color:#fff;
    text-decoration-color: #fff;
    padding : 0rem 0rem;
    font-family: 'Poppins' sans-serif;

} 
/* .InstAddCourse-TextDiv{
    position: relative;
    top:10%;
    left:22%;
    width: 50%;
    border-top-left-radius: 20px;
    border-bottom-right-radius:20px ;
    background-color: #ffffffcc; 
    border:transparent;
    font-size:1.2rem ;
    color:#fff;
    text-decoration-color: #fff;
    padding : 0rem 0rem;
    font-family: 'Poppins' sans-serif;
} */

.text2-AddCourse{
    position: relative;
    top:15%;
    left:22%;
    width: 50%;
    border-top-left-radius: 20px;
    border-bottom-right-radius:20px ;
    background-color: #ffffffcc;
    border-color: transparent;
    font-size:1.2rem ;
    color:#fff;
    padding : 0rem 0rem;
    font-family: 'Poppins' sans-serif;
}
.text3-AddCourse{
    position: relative;
    top:20%;
    left:22%;
    width: 50%;

    border-top-left-radius: 20px;
    border-bottom-right-radius:20px ;
    background-color: #ffffffcc;
    border:transparent;
    font-size:1.2rem ;
    color:#fff;
    padding : 0rem 0rem;
    font-family: 'Poppins' sans-serif;
}
.text4-AddCourse{
    position: relative;
    top:25%;
    left:22%;
    width: 50%;
    border-color: transparent;
    border-top-left-radius: 20px;
    border-bottom-right-radius:20px ;
    background-color: #ffffffcc;
    border:transparent;
    font-size:1.2rem ;
    color:#fff;
    padding : 0rem 0rem;
    font-family: 'Poppins' sans-serif;

}
.Submit-button{
    position: absolute;
    top: 80%;
    left: 63%;
    width:20%;
    height :7%;
    padding: 1rem 1rem;
    margin: 2rem 1rem;
    font-weight: bolder;
    font-size: 20px;

}
.Add-Course-Label{
    position: absolute;
    top: 19%;
    left: 22%;
    color: #fff;
}



