.instructorReportsMainDiv{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
}
.instructorReportsMainDiv::before{
    position: fixed;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0,0, 0.2);
}

.instructorReportsList{

 position: absolute;
    top: 20%;
    left: 2%;

    background-color: rgb(255, 255, 255);
    height: 490px;
    width: 400px;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    
}
.reportDetailsDiv{
    position: absolute;
    left: 30%;
    top: 20%;
    background-color: rgb(255, 255, 255);
    height: 490px;
    width: 900px;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    overflow-x: hidden;
    overflow-y: auto;
}
.listOfReportsDiv{
    position: relative;
    top: 2%;
    left: 2%;
}
.stateLabel{
    position: relative;
    top: 2%;
    left: 2%;
}
.stateLabelDiv{
    display: flex;
    flex-direction: row;
    column-gap: 75%;
}
.stateLabel2{
    position: relative;
    top: 0.5vw;
    font-size: 1.5rem;
    color: rgb(10,138,218);

}
.FollowUpButton{
    position: relative;
    top: 100%;
    left: 60%;
    width:10vw;
}
.detailsLabel{
    position: absolute;
    top: 14%;
    left: 2%;
}
.DtailsText{
    position: relative;
    top: 2vw;
    left: 17%;
    width: 70%;

}
.FollowUpShadowDiv{
    width: 100%;
    height: 100%;
    background: transparent; 
    display: flex;
    flex-direction: column;
  position:fixed;
  z-index: 2;
}
.FollowUpShadowDiv::before{
    position: fixed;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0,0, 0.5);
}
.followUpDiv{
    position: absolute;
    left: 35%;
    top: 20%;
    background-color: rgb(255, 255, 255);
    height: 490px;
    width: 500px;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    z-index: 2;
}
.FollowText{
    position: absolute;
    top: 4vw;
    left: 4vw;
    width: 70%;
}
.followUpQuestion{
    position: relative;
    top: 2%;
    left: 2%;
}
.followUpDivider{
    position: relative;
    top: 2%;
}
.followUpAddButton{
    position: relative;
    top: 75%;
    left: -5%;
    width: 30%;

}
.followUpCancelButton{
    position: absolute;
    top: 85%;
    left: 30%;
    width: 30%;
    background-color: red;
}
.followUpCancelButton:hover{
    background-color: rgb(246, 99, 99);
}
.followUpTextField{
    width: 70%;
}
.FollowupLabel{
    position: relative;
    top: 8%;
    left: 2%;
}
.followUpTextFieldDiv{
    position: relative;
    top: 12%;
    left: 17%;
    display: flex;
    flex-direction: column;
    row-gap: 0.8vw;
}