
.addPreviewVideoInst{
    margin-top: 2vw;
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5vw;
}    





.InstructorCourseReviews{
   
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
    margin-top: 8%;

}
.reviewsCourseDiv{
    
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    flex-grow: 1 1 0;
    background-color: #ffffff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 30%;
    /* left: 60px; */
   
  hyphens: auto;
     height: 8vw;
     width: 30%;
    
    
    border-radius: 20px;

}
.reviewCourseComment{
    position: relative;
    width: 100%;
    top: 10%;
    background-color: transparent;
    border: none;
    resize: none;
    color: rgb(48, 136, 213);
    font-size: 0.95rem;
    font-weight: bold;
  }
  .reviewCourseAvatar{
      position: absolute;
      left: 3%;
      top: 30%;
  }
  .InstructorCourseReviewsBig{
    display:flex;
    flex-direction: row;
    column-gap: 2vw;
    row-gap: 2vw;
    width:80%;
    flex-wrap: wrap;
    background-color:rgba(194, 194, 194, 0.295);
    border-radius: 20px;
    padding: 1rem;
  }
  .reportButton{
    position: relative;
    background-color: rgba(0,0,0,0);
    transform: translateY(4rem);
    border-color: rgb(120, 120, 120);
    border: solid 0.7px;
     width: 12%; 
    height: 20%;
    z-index: 1;
    left: 43%;
    top: 20%;
    
     font-size: 12px; 
      }
  .reportButton:hover{
    background-color:rgba(51, 51, 51, 0.5) ;
  }
  .reportInstructorDiv{
    position: absolute;
    top: 15%;
    left: 32%;
    background-color: rgb(255, 255, 255);
    height: 490px;
    width: 500px;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    z-index: 2;
  }
 .reportInstructorDivShadow{
    width: 100%;
    height: 100%;
    background: transparent; 
    display: flex;
    flex-direction: column;
  position:fixed;
  z-index: 3;
  }
  .reportInstructorDivShadow::before{
  position: fixed;
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(0, 0,0, 0.5);
}
.IssusList{
    position: relative;
    top: 8%;
    left: 15%;
}
.ReportLabel{
    position: relative;
    left: 3%;
}
.IssueTextField{
    position: relative;
    top: 12%;
    left: 15%;
}
.supmitReportButton{
    position: absolute;
    top: 85%;
    left: 73%;
    width: 25%;
}
.cancelReportButton{
    position: absolute;
    top: 85%;
    left: 45%;
    width: 25%;
    background-color: red;
}
.cancelReportButton:hover{
    background-color: rgb(243, 92, 92);
}
.IVCCourseItems_Syllabus_Subtitles{
  display: flex;
  flex-direction: column;
  row-gap: 0.5vw;

}
.SettingButton{
  position: absolute;
  top:0px;
  left:96%;
  z-index: 1;
}
.SettingButton:hover{
  cursor: pointer;
  transform: scale(1.05);
  filter: drop-shadow(0px 4px 2px #1c1c1c3c);
  transition: 1s
}
.newSubtitleInput{
  width: 50%;
  height:50%;
  position: absolute;
  top:5vh;
  border:none;
  padding: 1rem;
  color:var(--primary-light);
  font-weight:bolder;
  font-size: 30px;
  background-color: rgba(231, 231, 231, 0.5);
  border-radius: 10px;

}
.newSubtitleInput:focus{
  outline: none;
}
.newSubtitleInput::placeholder{
  color:var(--primary-light);

  font-size: 30px;
}

.newSubtitleHoursInput{
  width: 30%;
  height:50%;
  position: absolute;
  top:5vh;
  left:70vh;
  border:none;
  padding: 1rem;
  color:var(--primary-light);
  font-weight:bolder;
  font-size: 30px;
  background-color: rgba(231, 231, 231, 0.5);
  border-radius: 10px;

}
.newSubtitleHoursInput:focus{
  outline: none;
}

.InstCourseItems_Syllabus_Subtitles_Content {
  height: 15vh;
  border-bottom: 2px solid rgb(206, 206, 206);
  width: 115vh;
  position: relative;
  display: flex;
  flex-direction: row;
}
.InstCourseItems_Syllabus_Subtitles_Content h2{
color:var(--primary-light)
}

.InstCourseItems_Syllabus_Subtitles_Content:hover{
background-color:rgb(232, 232, 232);
  cursor: pointer;
}
.InstCourseItems_Syllabus_Subtitles_ContentNoHover {
  height: 15vh;
  border-bottom: 2px solid rgb(206, 206, 206);
  width: 115vh;
  position: relative;
  display: flex;
  flex-direction: row;
}
.InstCourseItems_Syllabus_Subtitles_ContentNoHover h2{
color:var(--primary-light)
}
.Instructor_checkmark1{

  cursor: pointer;
  position:absolute;
  top:48%;
  left:52%;
}
.Instructor_checkmark1:hover{
  cursor: pointer;
  transition: 0.2s;
}
.Instructor_checkmark2{
  cursor: pointer;
  position:absolute;
  top:48%;
  left:95%;
}
.Instructor_checkmark2:hover{
  cursor: pointer;
  transition: 0.2s;
}
.InstsettingMenu{
  position:absolute;
  width: 28vh;
  height: 30vh;
  top:35px;
  left:85%;
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 0;
  filter: drop-shadow(0px 4px 2px #1c1c1c3c);
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  flex-grow: 1;
}
.InstSettingItem{
  background-color: #ffffff;
  color:var(--primary-light);
  border-radius: 10px;
  width: 100%;
  height:100%;
  font-size: 17px;
  font-weight:500;
  padding: 0.5rem 0.5rem;
  text-align: left;
}
.InstSettingItem:hover{
  background-color: #eee;


}
.Menuicon{
  margin-right: 1rem;
  margin-left: 1rem;
  transform: translate(0,0.4rem);
}