
.addPreviewVideoInst{
    margin-top: 2vw;
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5vw;
}    





.InstructorCourseReviews{
   
    position: relative;
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
    margin-top: 8%;

}
.reviewsCourseDiv{
    
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    flex-grow: 1 1 0;
    background-color: #ffffff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 30%;
    /* left: 60px; */
   
  hyphens: auto;
     height: 8vw;
     width: 30%;
    
    
    border-radius: 20px;

}
.reviewCourseComment{
    position: relative;
    width: 100%;
    top: 10%;
    background-color: transparent;
    border: none;
    resize: none;
    color: rgb(48, 136, 213);
    font-size: 0.95rem;
    font-weight: bold;
  }
  .reviewCourseAvatar{
      position: absolute;
      left: 3%;
      top: 30%;
  }
  .InstructorCourseReviewsBig{
    display:flex;
    flex-direction: row;
    column-gap: 0.7vw;
    row-gap: 0.7vw;
    width:80%;
    flex-wrap: wrap;
  }