.divcenter{
   background-color: #eee ;
   background-image: linear-gradient(180deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.3)),url('../../assets/InstructorBack.jpeg');
   background-size:cover;
    background-position: 100%;
    width: 100%;
    height:100%;
    position: absolute;
    top:60px;
}
.InstructorHome{
    position: relative;
    width: 1000px;
    height: 500px;
    background: transparent;
    border: 1px solid #fff;
    border-top-left-radius: 20px ;
    border-bottom-right-radius: 20px;
    top: 10%;
    left: 20%;
    display: flex;
    flex-direction: column;
    
}
.InstructorHome:before{ 
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0,0, 0.5);
    border-top-left-radius: 20px ;
    border-bottom-right-radius: 20px;
}

.instructorDitails{
    position: absolute;
    width: 400px;
    height: 380px;
  background-color: #eee;
    border-top-left-radius: 20px ;
    border-bottom-right-radius: 20px;
    top: 5%;
    left: 5%;
   flex-direction: column; 
   display: flex;
   align-items: center;
   flex-grow: 1 1 0;
   row-gap: 5%;
}
.AccountIconClick{
    position: relative;
    cursor: pointer;
    top: -50% ;
    left: -1vw;
    
}
.AccountCircleButton{
    position: relative;
    top:-90% ;
    left: 43%;
    height: 10%;
    width: 5%;
    background:transparent;
}
.AccountCircleButton:hover{
    background: transparent;
}
.avatar{
    margin-top: 5%;
   
}
.instructorname{
    position: relative;
    /* top: 10%; */
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    color: #0277bd;
}
.instructorEmail{
    position: relative;
    /* top: 10%; */
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    color: #0277bd;
}
.reviewsButton{
    position: relative;
    left: 37%;
    top: 10%;
    font-weight: 80;
    font-size: 17px;
}
.instructorDetails3{
    position: absolute;
    width: 400px;
    height: 170px;
    background-color:#ffffa8;
    border-bottom-left-radius: 20px;
    border-top-left-radius:20px;
    border-bottom-right-radius:20px;
    border-top-right-radius:20px;
    top: 60%;
    left: 5%;

}
.questions{
    position: relative;
    top: 5%;
    left: 33%;
    border-bottom-left-radius: 20px;
    border-top-left-radius:20px;
    border-bottom-right-radius:20px;
    border-top-right-radius:20px;
}
.reminderLabel{
    position: relative;
    font-weight: 290;
    font-family: "Garamond", Times, serif;      
    top: 5%;
    left: 4%;
}
.AddIconReminder{
    position: absolute;
    top: 5%;
    left: 90%;
    cursor: pointer;
}
.notesHome{
    list-style-type: disc;
    position: relative;
    top: 10%;


}
.notesHome>li{
    padding: 0;
    margin-left: 10%;
}

