.questionDiv{
    position:relative;
    top:40%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5vw;
    justify-content: center;
    align-items: center;


}
.QuestionsMainDiv{
    margin-top:10%;
    display: flex;
    flex-direction: column;
    row-gap: 1.5vw;
    justify-content: center;
    align-items: center;
    margin-bottom:5%;

}

.atoofachoicescheckboxes{
    background-color: white;
    height: 5%;
}

.plusbuttn{
    position:fixed;
left:85% ;
    top: 22%;
}
.qestionsdiv2main{
    display: flex;
    flex-direction: column;
    row-gap: 1.5vw;
    justify-content: center;
    align-items: center;
}
.submitbtnExcer{
    position:fixed;
    left:85% ;
    top: 80%;
}