.mainDiv{
    display: flex;
    flex-direction: column;
    row-gap: 2.5vw;
    flex-grow: 1 1 0;
}
.profileData{
    width: fit-content;
    height: 15vw;
    background-color: rgb(165, 161, 161);
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    flex-grow: 1 1 0;
    justify-content: start;
    align-items: center;
    width: 50%;
}
.details{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5vw;
    flex-grow: 1 1 0;
    
}
.editable{
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 0.5vw;
    flex-grow: 1 1 0;
    word-wrap: break-word;
}
h5{
    width:50%;
    font-size: 0.5vw;
}
.instructorRating{
    margin-left: 15%;
}
.editSpecialization{

    background-color: white;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-grow: 1 1 0;
    row-gap: 0.5vw;
    align-items: center;
}
.editInput{
    width: 100%;
    height: 20%;
    margin-top: 20%;
}
.changePassDiv{
    display: flex;
    flex-direction: column;
    row-gap: 0.5vw;
    background-color: rgb(107, 104, 104);
    align-items: center;
    width:20%;
}
.changePassDiv>input{
    height: 2vw;
}