.questionDiv{
    position:relative;
    top:40%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5vw;
    justify-content: center;
    align-items: center;


}
.QuestionsMainDiv{
    margin-top:10%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5vw;
    justify-content: center;
    align-items: center;
}

.atoofachoicescheckboxes{
    background-color: white;
    height: 5%;
}

.plusbuttn{
    position:absolute;
left:85% ;
    top: 22%;
}