.instructorProfileMaindiv{
    background-color: #eee ;
    background-image: linear-gradient(180deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.3)),url('../../assets/InstructorBack.jpeg');
    background-size:cover;
     background-position: 100%;
     width: 100%;
     height:100%;
     position: absolute;
     top:60px;
}


.instructorDetailsProfile{
    position: absolute;
    width: 350px;
    height: 380px;
  background-color:rgb(255, 255, 255);
    border-top-left-radius: 20px ;
    border-bottom-right-radius: 20px;
    top: 5%;
    left: 3%;
    display: flex;
   flex-direction: column; 
   align-items: center;
   flex-grow: 1 1 0;
   row-gap: 5%;
}
.editinstructordata{
    background-color: rgb(244, 244, 244);
    position: absolute;
    width: 700px;
    height: 380px;
    left: 30%;
    top: 5%;
    border-bottom-left-radius: 20px;
    border-top-left-radius:20px;
    border-bottom-right-radius:20px;
    border-top-right-radius:20px;
    display: flex;
   flex-direction: column; 
   justify-content: start;
   flex-grow: 1 1 0;
   row-gap: 1vw;
   padding-top: 2%;
}
.EditInstructorName{
 
    width: 90%;
}
.NameLabel{
 
    font-size: 1.5rem;
}
.EmailLabel{
  
    margin-left: 1%;
    font-size: 1.5rem;
}
.specializationLabel{

    margin-left: 1%;
    font-size: 1.5rem;
}

.editProfileButton1{
    position: absolute;
    top: 3%;
    left: 90%;
    height: 10%;
    width: 5%;
    background-color: transparent;
}
.editProfileButton1:hover{
    background-color: transparent;
}
.dataDivNext{
    display: flex;
    flex-direction: row;
    column-gap: 12vw;
    justify-content: start;
    margin-left: 1%;
    font-size: 1.5rem;
    word-wrap: break-word;
    flex-wrap: wrap;
}
.NameLabel2{
    width: 90%;
    left: 2%;
}
.editinstructordata2{
    background-color: rgb(244, 244, 244);
    position: absolute;
    width: 700px;
    height: 380px;
    left: 30%;
    top: 5%;
    border-bottom-left-radius: 20px;
    border-top-left-radius:20px;
    border-bottom-right-radius:20px;
    border-top-right-radius:20px;
    display: flex;
   flex-direction: column; 
   justify-content: start;
   flex-grow: 1 1 0;
   row-gap: 2.5vw;
   padding-top: 2%;

}
.ChangePassswordDiv{
    position: absolute;
    width: 420px;
    height: 520px;
    background-color:rgb(255, 255, 255);
    border-top-left-radius: 20px ;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    top: 10%;
    left: 35%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    flex-grow: 1 1 0;
    row-gap: 5%;
    padding-top: 7%;
}
.InstructorchangePass{
    width: 23vw;
}
.InstructorCancelPassBUTTON{
    background-color: red;
}
.InstructorCancelPassBUTTON:hover{
    background-color: rgb(180, 67, 67);
}
.EditInstructorValue{
    position: absolute;
    left: 40%;
}
.cancelProfileButton1{
    position: absolute;
    top: 80%;
    left: 68%;
    height: 10%;
    width:30%;
    background-color: red;    
}
.cancelProfileButton1:hover{
    background-color: rgb(177, 57, 57);
}
.subProfileButton1{
    position: absolute;
    top: 80%;
    left: 35%;
    width:30%;
    height: 10%;
}
.InstProfOwedMoneyDiv{
    position: absolute;
    top:60%;
    left:3%;
    width: fit-content;
    height: 18%;
    background-color: white;
    border-radius: 20px ;
    display: flex;
    flex-direction: row;
    column-gap: 0.5vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.OwedMoneyMonthText{
    width: 30%;
}
.OwedMoneyYearText{
    width: 30%;
}