.divcenter{
   background-color: #eee ;
   background-image: linear-gradient(180deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.3)),url('../../assets/InstructorBack.jpeg');
    display: flex; 
   background-size:cover;
    background-position: 100%;
    width: 100%;
    height:100%;
    position: absolute;
    top:60px;
}
.InstructorHome{
    position: relative;
    width: 1000px;
    height: 500px;
    background: transparent;
    border: 1px solid #fff;
    border-top-left-radius: 20px ;
    border-bottom-right-radius: 20px;
    top: 10%;
    left: 20%;
    display: flex;
    flex-direction: column;
}
.InstructorHome:before{ 
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0,0, 0.5);
    border-top-left-radius: 20px ;
    border-bottom-right-radius: 20px;
}

.instructorDitails{
    background-color: aqua;
    position: absolute;
    top: 60%;
    width: 40%;
    height: 40%;
}