.divcenter{
   background-color: rgb(223, 223, 223) ;
   background-size:cover;
    background-position: 100%;
    width: 100%;
    height:100%;
    position: absolute;
    top:60px;
}
.InstructorHome{
    position: relative;
    width: 1000px;
    height: 500px;
    background: transparent;
    border: 1px solid #fff;
    border-top-left-radius: 20px ;
    border-bottom-right-radius: 20px;
    top: 10%;
    left: 20%;
    display: flex;
    flex-direction: column;
}
.InstructorHome:before{ 
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0,0, 0.5);
    border-top-left-radius: 20px ;
    border-bottom-right-radius: 20px;
}

.instructorDitails{
    background-color: #ffffff;
    position: absolute;
    top: 5%;
    left: 5%;
    width:  25%;
    height: 58%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius:20px ;
   flex-direction: column;
   display: flex;
   align-items: center;
   flex-grow: 1 1 0;
   row-gap: 5%;
}
.editIconClick{
    position: relative;
    cursor: pointer;
    top:-80% ;
    left: 43%;
}
.avatar{
    margin-top: 5%;
    /* margin: auto;
    width: 50%;
    top: 5%; */
}
.instructorname{
    position: relative;
    /* top: 10%; */
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    color: #607d8b;
}
.instructorEmail{
    position: relative;
    /* top: 10%; */
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    color: #607d8b;
}
.reviewsButton{
    position: relative;
    left: 37%;
    top: 10%;
    text-decoration-color: black;
    text-decoration: underline;
   
}