.Admin-Content{
    width :100%;
height : 100vh ;
background-image: linear-gradient(180deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.3)),url('../../assets/Login-Admin.jpg');
background-size:cover;
display: flex; 
justify-content: space-between;
}