.controlPanel{
    background-image: linear-gradient(180deg,rgba(198, 198, 198, 0.404),rgba(221, 221, 221, 0.914) );
    background-size:cover;
    width :100%;
    height:200vh;  
}
.controlPanel_content{
    
position: relative;
top:60px;
left:0%;
margin-left:2rem;
display: flex; 
flex-direction: column;
justify-content: space-between;

}
.controlPanel_content4horizontal{
    display: flex;
    flex-direction: row;
}
.ControlPanel_Func{
    width :20% ;
    height:50vh ;
    background-color: white;
    box-shadow:0px 6px 10px rgb(0,0,0,0.3);
    border-radius: 15px;
    margin: 2rem 2rem;
    align-items: center;
}
.ControlPanel_Func h3{
    color:rgb(10, 138, 218);
    font-size: 25px;
    text-align: center;
    
}
.ControlPanel_Func5{
    width :93% ;
    height:50vh ;
    background-color: white;
    box-shadow:0px 6px 10px rgb(0,0,0,0.3);
    border-radius: 15px;
    margin: 2rem 2rem;
}

