@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --primary-dark : rgb(6, 60, 78);
  --primary-light: rgb(10,138,218);

  --font-family: 'Manrope', sans-serif;

  /* --gradient-text: linear-gradient(89.97deg, #bf77e9 1.84%, #ececec 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #d54dff -13.86%, #ececec 109.55%); */

  --gradient-text: linear-gradient(89.97deg, #c28dfa 1.84%, #f68c54 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: aliceblue;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #fe8569;

}
*{
  box-sizing: border-box;
  margin: 0;
  padding : 0 ; 
}
body{
  font-family:"Poppins", sans-serif;
  
}
ul { 
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 { 
  font-size:2.5rem ;

}
h2 {
  font-size: 2rem;
}

.container{
  max-width: 1240 px;
  margin :auto;
  padding : 0 1rem ; 
}

button {
  background-color: var(--primary-light);
  border: 0px solid var(--primary-dark);
  color: #fff ;
  padding : .7rem 1.5rem; 
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}
button:hover{
  background-color: rgb(38, 159, 234);
  transition:0.3s;

}
.cancelButton{
  background-color:rgb(220,0,0);
}

.cancelButton:hover{
  background-color:rgb(255,0,0);
}

@media screen and (max-width: 940px){
  h1{
    font-size:2.5rem ;
  }
  h2{
    font-size:1.5rem ;
  }
}