@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
  --primary-dark : rgb(6, 60, 78);
  --primary-light: rgb(10,138,218);
}
*{
  box-sizing: border-box;
  margin: 0;
  padding : 0 ; 
}
body{
  font-family:"Poppins", sans-serif;
  
}
ul { 
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 { 
  font-size:2.5rem ;

}
h2 {
  font-size: 2rem;
}

.container{
  max-width: 1240 px;
  margin :auto;
  padding : 0 1rem ; 
}

button {
  /* background-image: linear-gradient(90deg,var(--primary-dark) 0%, var(--primary-light) 100%); */
  background-color: var(--primary-light);
  border: 0px solid var(--primary-dark);
  color: #fff ;
  padding : .7rem 1.5rem; 
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}
button:hover{
  background-color: rgb(38, 159, 234);
  transition:0.3s;

}


@media screen and (max-width: 940px){
  h1{
    font-size:2.5rem ;
  }
  h2{
    font-size:1.5rem ;
  }
}